body {
    font-family:
        system-ui,
        -apple-system,
        BlinkMacSystemFont,
        "Segoe UI",
        Roboto,
        Inter,
        Ubuntu,
        Cantarell,
        "Noto Sans",
        Arial,
        sans-serif;
}

code,
pre {
    font-family:
        "JetBrains Mono", "Fira Code", "SF Mono", "Cascadia Code", Menlo,
        Consolas, monospace;

    font-size: 0.9em;
    font-feature-settings: "liga" 1;
}
