body {
    max-width: 700px;
    margin: auto;
    padding: 1em;
    line-height: 1.6;
}

.menu {
    padding: 0;
    list-style: none;
    text-align: center;
}
.menu li {
    display: inline-block;
    margin: 0 0.5em;
}

.article-meta {
    margin-bottom: 1.5em;
}
.article-meta h2 {
    font-size: 1em;
    font-weight: normal;
    font-style: italic;
    margin: 0;
}

footer {
    text-align: center;
    margin-top: 2em;
}

pre {
    padding: 1em;
    overflow-x: auto;
    border: 1px solid;
}
code {
    padding: 1px 4px;
}
pre code {
    padding: 0;
}

img,
iframe,
video {
    max-width: 100%;
}

main {
    hyphens: auto;
}

table {
    margin: auto;
    border-collapse: collapse;
}
th,
td {
    padding: 5px 10px;
    border: 1px solid;
}
